name: Weekly Medicine Update

on:
  schedule:
    - cron: "0 2 * * 0"
  workflow_dispatch:
permissions:
  contents: write
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install Dependencies
      run: |
        pip install requests
        pip install pandas

    - name: Run Builder Script
      run: python scripts/medicine_builder.py

    - name: Commit Changes
      run: |
        git config --global user.name "GitHub Action"
        git config --global user.email "action@github.com"
        git add .
        git commit -m "Weekly medicine update" || echo "No changes"
        git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git
